[package]
name = "edge"
version = "0.1.0"
edition = "2024"

[profile.release]
opt-level = 3
lto = "fat" 
codegen-units = 1
panic = "abort"

[dependencies]
clap = { version = "4.4", features = ["derive"] }
